In [131]:
import pandas as pd
from pandasql import sqldf

In [132]:
#Leemos el excel del 2022
df = pd.read_excel("DATOS_ABIERTOS_JULIO_2022.xlsx")

#Modificamos la fecha para facilitar su uso
df['FECHA_INGRESO'] = df['FECHA_INGRESO'].dt.strftime('%Y-%m-%d')
#Renombramos algunas tablas para facilitar su uso
df = df.rename(columns={"MONTO RECLAMADO":"MONTO_RECLAMADO","MONTO RECUPERADO":"MONTO_RECUPERADO"})
#Selecionamos las tablas de nuestro interes
df = sqldf("SELECT SECTOR,TIPO_RECLAMACION,ESTADO_PROCESAL,COSTO_BIEN,MONTO_RECLAMADO,MONTO_RECUPERADO FROM df")
#Llenamos los nan con 0
df = df.fillna(0)

#Despliegamos el df
df

,SECTOR,TIPO_RECLAMACION,ESTADO_PROCESAL,COSTO_BIEN,MONTO_RECLAMADO,MONTO_RECUPERADO
0,TURÍSTICO,"Cambios, devoluciones o bonificaciones",En Trámite,1995,0.0,0.0
1,TIENDA DE ROPA,Cobro indebido,Desistimiento,279.98,0.0,0.0
2,HERRERÍA,Entrega del producto o servicio,Desistimiento,4500,0.0,0.0
3,TIENDA DEPARTAMENTAL,"Publicidad, ofertas y promociones",Conciliada,299.9,60.0,60.0
4,FABRICACIÓN DE ELECTRODOMÉSTICOS Y LÍNEA BLANCA,Garantías,Conciliada,5999,0.0,0.0
...,...,...,...,...,...,...
49299,TIENDA ESPECIALIZADA EN PRODUCTOS ELECTRÓNICOS,Garantías,En Trámite,0,0.0,0.0
49300,TIENDA DEPARTAMENTAL,Garantías,En Trámite,0,0.0,0.0
49301,TIENDA ESPECIALIZADA EN PRODUCTOS ELECTRÓNICOS,Garantías,En Trámite,0,0.0,0.0
49302,TIENDA DEPARTAMENTAL,Entrega del producto o servicio,En Trámite,0,0.0,0.0
49303,TIENDA ESPECIALIZADA EN PRODUCTOS ELECTRÓNICOS,Entrega del producto o servicio,En Trámite,0,0.0,0.0

In [133]:
#Leemos el excel del 2021
df2 = pd.read_excel("DATOS_ABIERTOS_2021_2.xlsx")

#Modificamos la fecha para facilitar su uso
df2['FECHA_INGRESO'] = df2['FECHA_INGRESO'].dt.strftime('%Y-%m-%d')
#Selecionamos las fechas de Enero-Julo
df2 = df2.loc[(df2['FECHA_INGRESO'] < '2021-08-01')]
#Renombramos algunas tablas para facilitar su uso
df2 = df2.rename(columns={"RECLAMADO":"MONTO_RECLAMADO","RECUPERADO*":"MONTO_RECUPERADO"})
#Selecionamos las tablas de nuestro interes
df2 = sqldf("SELECT SECTOR,TIPO_RECLAMACION,ESTADO_PROCESAL,COSTO_BIEN,MONTO_RECLAMADO,MONTO_RECUPERADO FROM df2")
#Llenamos los nan con 0
df2 = df2.fillna(0)

#Despliegamos el df
df2

,SECTOR,TIPO_RECLAMACION,ESTADO_PROCESAL,COSTO_BIEN,MONTO_RECLAMADO,MONTO_RECUPERADO
0,"HOSPITAL, CLÍNICAS Y SANATORIOS",0,En Trámite,-,0,0
1,TURÍSTICO,Información no clara al consumidor sobre el pr...,Desistimiento,0,0,0
2,TURÍSTICO,Información no clara al consumidor sobre el pr...,En Trámite,690.04,0,0
3,TURÍSTICO,Información no clara al consumidor sobre el pr...,En Trámite,0,0,0
4,TURÍSTICO,Entrega del producto o servicio,No Conciliada,7809.72,0,0
...,...,...,...,...,...,...
44663,CARPINTERO,Entrega del producto o servicio,No Conciliada,4000,2000,0
44664,DESPACHO DE COBRANZA,Cobro indebido,En Trámite,36138,0,0
44665,"HOSPITAL, CLÍNICAS Y SANATORIOS",Contratos,En Trámite,43495,0,0
44666,ANUNCIOS Y ESPECTACULARES,Entrega del producto o servicio,Conciliada,7000,3500,3500
44667,ESCUELA DE EDUCACIÓN SUPERIOR PRIVADO,Entrega del producto o servicio,Desistimiento,12006,0,0

# Informacion y descripcion de nuestros df

In [174]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49304 entries, 0 to 49303
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SECTOR            49304 non-null  object
 1   TIPO_RECLAMACION  49304 non-null  object
 2   ESTADO_PROCESAL   49304 non-null  object
 3   COSTO_BIEN        49163 non-null  float64
 4   MONTO_RECLAMADO   49304 non-null  float64
 5   MONTO_RECUPERADO  49304 non-null  float64
dtypes: float64(3), object(3)
memory usage: 2.3+ MB

         COSTO_BIEN  MONTO_RECLAMADO  MONTO_RECUPERADO
count  4.916300e+04     4.930400e+04      4.930400e+04
mean   5.432081e+04     2.996501e+03      2.328351e+03
std    2.747101e+05     3.403743e+04      3.552314e+04
min    0.000000e+00     0.000000e+00      0.000000e+00
25%    0.000000e+00     0.000000e+00      0.000000e+00
50%    2.531000e+03     0.000000e+00      0.000000e+00
75%    1.640000e+04     0.000000e+00      0.000000e+00
max    1.107562e+07     2.308701e+06      4.783687e+06

In [175]:
df2.info()
df2.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44668 entries, 0 to 44667
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SECTOR            44668 non-null  object
 1   TIPO_RECLAMACION  44668 non-null  object
 2   ESTADO_PROCESAL   44668 non-null  object
 3   COSTO_BIEN        44575 non-null  float64
 4   MONTO_RECLAMADO   44667 non-null  float64
 5   MONTO_RECUPERADO  44654 non-null  float64
dtypes: float64(3), object(3)
memory usage: 2.0+ MB

         COSTO_BIEN  MONTO_RECLAMADO  MONTO_RECUPERADO
count  4.457500e+04     4.466700e+04      4.465400e+04
mean   7.047444e+04     7.872393e+03      8.102115e+03
std    2.957908e+05     8.275685e+04      1.059700e+05
min    0.000000e+00     0.000000e+00      0.000000e+00
25%    1.898495e+03     0.000000e+00      0.000000e+00
50%    8.799200e+03     0.000000e+00      0.000000e+00
75%    2.900000e+04     6.400000e+02      7.684750e+02
max    9.588000e+06     8.799566e+06      8.871441e+06

# Sectores con quejas

In [176]:
#Sectores que presentaron más quejas en 2022
sector_2022 = sqldf("SELECT SECTOR, count(SECTOR) AS NUM_QUEJAS FROM df GROUP BY SECTOR ORDER BY NUM_QUEJAS DESC LIMIT 5")
sector_2022

                    SECTOR  NUM_QUEJAS
0                TURÍSTICO        6282
1             ELECTRICIDAD        6218
2     TIENDA DEPARTAMENTAL        2891
3      VENTAS POR INTERNET        2689
4  TIENDAS DE AUTOSERVICIO        2439

In [177]:
#Sectores que presentaron más quejas en 2021
sector_2021 = sqldf("SELECT SECTOR, count(SECTOR) AS NUM_QUEJAS FROM df2 GROUP BY SECTOR ORDER BY NUM_QUEJAS DESC LIMIT 5")
sector_2021

                           SECTOR  NUM_QUEJAS
0                       TURÍSTICO        6153
1                    ELECTRICIDAD        5508
2            TIENDA DEPARTAMENTAL        3033
3                      AUTOMOTRIZ        1857
4  COMPAÑÍA DE AUTOFINANCIAMIENTO        1715

# Tipos de reclamo

In [178]:
#Tipos de Reclamo en 2022
reclamo_2022 = sqldf("SELECT TIPO_RECLAMACION, count(TIPO_RECLAMACION) AS NUM_RACLAMOS FROM df GROUP BY TIPO_RECLAMACION ORDER BY NUM_RACLAMOS DESC")
reclamo_2022

                                     TIPO_RECLAMACION  NUM_RACLAMOS
0                     Entrega del producto o servicio         15472
1              Cambios, devoluciones o bonificaciones         11197
2                                      Cobro indebido         11025
3                                           Garantías          7092
4                                           Contratos          2883
5                                Pérdidas o deterioro           392
6                   Publicidad, ofertas y promociones           388
7                         Trato o servicio al cliente           286
8   Información no clara al consumidor sobre el pr...           203
9   Información Incorrecta al consumidor sobre el ...           165
10  Ausencia de Información al consumidor sobre el...            56
11  Negativa de entrega de Información al consumid...            51
12  Información incompleta al consumidor sobre el ...            21
13                                                  0            19
14  Información incorrecta al consumidor sobre el ...            17
15  Información incompleta al consumidor sobre el ...            14
16  Información no clara o ilegible al consumidor ...             7
17                                       Presupuestos             6
18                                         Privacidad             3
19  Información incompleta al consumidor sobre el ...             2
20  Información en otras monedas al consumidor sob...             2
21  Información incorrecta al consumidor sobre el ...             1
22  Información en otros idiomas al consumidor sob...             1
23                                         DESBLOQUEO             1

In [179]:
#Tipos de Reclamo en 2022
reclamo_2021 = sqldf("SELECT TIPO_RECLAMACION, count(TIPO_RECLAMACION) AS NUM_RACLAMOS FROM df2 GROUP BY TIPO_RECLAMACION ORDER BY NUM_RACLAMOS DESC")
reclamo_2021

                                     TIPO_RECLAMACION  NUM_RACLAMOS
0                     Entrega del producto o servicio         12840
1              Cambios, devoluciones o bonificaciones         10683
2                                      Cobro indebido          9590
3                                           Garantías          6864
4                                           Contratos          3102
5                         Trato o servicio al cliente           461
6                                Pérdidas o deterioro           294
7                   Publicidad, ofertas y promociones           268
8   Información Incorrecta al consumidor sobre el ...           172
9   Información no clara al consumidor sobre el pr...           115
10  Ausencia de Información al consumidor sobre el...           103
11  Negativa de entrega de Información al consumid...            46
12  Información incorrecta al consumidor sobre el ...            36
13                                                  0            34
14  Información incompleta al consumidor sobre el ...            28
15  Información incompleta al consumidor sobre el ...            17
16  Información no clara o ilegible al consumidor ...             8
17  Información incompleta al consumidor sobre el ...             2
18                                      Incompetencia             2
19                                 Violaciones a NOMs             1
20               Negativa a la devolución de depósito             1
21                                         Desbloqueo             1

# Incidencia del costo del bien y la queja

In [180]:
#Tranformamos los objetos a flotantes
df["COSTO_BIEN"] = pd.to_numeric(df['COSTO_BIEN'],errors='coerce')
df2["COSTO_BIEN"] = pd.to_numeric(df2['COSTO_BIEN'],errors='coerce')
df2["MONTO_RECLAMADO"] = pd.to_numeric(df2['MONTO_RECLAMADO'],errors='coerce')
df2["MONTO_RECUPERADO"] = pd.to_numeric(df2['MONTO_RECUPERADO'],errors='coerce')

In [181]:
#Creamos Rangos del costo de bien y vemos su promedio de monto recuperado
#Para ver si vale la pane hacer el reclamo
# incidencias 2022
incidencia_2022 = sqldf('''SELECT
            CASE
                WHEN COSTO_BIEN < 1000 THEN "0 - 999"
                WHEN COSTO_BIEN < 10000 THEN "1,000 - 9,999"
                WHEN COSTO_BIEN < 100000 THEN "10,000 - 99,999"
                ELSE "100,000 +"
            END 
            AS COSTO_BIEN_RANGE,COUNT(*) AS FREQUENCIA, AVG(MONTO_RECUPERADO) AS AVG_MONTO_RECUPERADO
            FROM df WHERE MONTO_RECUPERADO != 0 GROUP BY COSTO_BIEN_RANGE''')
incidencia_2022

  COSTO_BIEN_RANGE  FREQUENCIA  AVG_MONTO_RECUPERADO
0          0 - 999         869           5713.686784
1    1,000 - 9,999        2005           4936.252361
2  10,000 - 99,999        1470          20123.991739
3        100,000 +         418         168307.097703

In [182]:
#Creamos Rangos del costo de bien y vemos su promedio de monto recuperado
#Para ver si vale la pane hacer el reclamo
# incidencias 2021
incidencia_2021 = sqldf('''SELECT
            CASE
                WHEN COSTO_BIEN < 1000 THEN "0 - 999"
                WHEN COSTO_BIEN < 10000 THEN "1,000 - 9,999"
                WHEN COSTO_BIEN < 100000 THEN "10,000 - 99,999"
                ELSE "100,000 +"
            END 
            AS COSTO_BIEN_RANGE,COUNT(*) AS FREQUENCIA, AVG(MONTO_RECUPERADO) AS AVG_MONTO_RECUPERADO
            FROM df2 WHERE MONTO_RECUPERADO != 0 GROUP BY COSTO_BIEN_RANGE''')
incidencia_2021

  COSTO_BIEN_RANGE  FREQUENCIA  AVG_MONTO_RECUPERADO
0          0 - 999        1770          12544.488568
1    1,000 - 9,999        4928           5000.031782
2  10,000 - 99,999        4288          22420.339723
3        100,000 +        1139         192106.705870